<div class="extensions">

  <p class="extensions-description">
    These extensions are available to install using Mechanic:
  </p>

  <% @extensions.each do |extension| %>

    <a href="<%= extension.source %>" target="_blank" class="extension">

      <header>
        <h1><%= extension.name %></h1>

        <div class="author">
          <%= extension.author %>
        </div>

        <div class="metadata">
          <div class="created_at">Added: <%= extension.created_at.strftime('%-d %B %Y') %></div>
          <div class="source">Source</div>
        </div>
      </header>

      <div class="description"><%= extension.description %></div>
    </a>

  <% end %>

</div>
