<table class="extensions">
  <tr class="headings">
    <th>Extension</th>
    <th>Author</th>
    <th>Description</th>
    <th>Date Added</th>
  </tr>

  <% @extensions.each do |extension| %>

    <tr class="extension">
      <td class="name" data-label="Extension">
        <a href="<%= extension.source %>">
          <div class="name__inner"><%= extension.name %></div>
        </a>
      </td>
      <td class="author" data-label="Author">
        <a href="<%= extension.source %>">
          <%= extension.author %>
        </a>
      </td>
      <td class="description" data-label="Description"><%= extension.description.presence || "&mdash;" %></td>
      <td class="created-at" data-label="Date Added"><%= extension.created_at.strftime('%-d %B %Y') %></td>
    </tr>

  <% end %>

</table>
